<div class="flex-container">
  <div id='title'>
    <h3><%= @merchant.name %>'s Bulk Discounts Index</h3>
  </div>
  <div id='nav'>
      <th><%= link_to "Dashboard", "/merchants/#{@merchant.id}/dashboard" %></th> &emsp;
    <th><%= link_to "My Items", "/merchants/#{@merchant.id}/items" %> </th> &emsp;
    <th><%= link_to "My Invoices", "/merchants/#{@merchant.id}/invoices" %></th>&emsp;
    <th><%= link_to "Bulk Discounts", "/merchants/#{@merchant.id}/bulk_discounts" %></th>
  </div>
</div>

<% @merchant.bulk_discounts.each do |bulk_discount| %>
<div id="discounts-<%= bulk_discount.id %>">
  <h3><%= "#{bulk_discount.name} Purchase of #{bulk_discount.threshold} items" %></h3>
  <p><%= link_to "#{bulk_discount.name} Info Page", "/merchants/#{@merchant.id}/bulk_discounts/#{bulk_discount.id}" %>
</div>
<% end %>

